<%- include('./partials/header') %>
        <div class="table-wrapper">
            <% if (gestores.length > 0) { %>
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">nome</th>
                            <th scope="col">cpf</th>
                            <th scope="col">orgao</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% gestores.forEach((registro, indice) => { %>
                        <tr>
                            <td><%= registro.nome %></td>
                            <td><%= registro.cpf %></td>
                            <td><%= registro.orgao %></td>
                            <td>
                                <a href="/edit-gestor/<%= registro.cod %>" rel="noopener" class="btn btn-sm btn-success">Editar</a>
                                <a href="/delete-gestor/<%= registro.cod %>" rel="noopener" class="btn btn-sm btn-danger">Deletar</a>
                            </td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            <% } else { %>
                <p class="text-center">Nenhum registro encontrado.</p>
            <% } %>
        </div>
    </div>
    <div class="container">
        <a href="/add-gestor"><p class="container">Adicionar um novo gestor</p></a>
    </div>
</body>
</html>