<%- include('./partials/header') %>        
        <div class="table-wrapper">
            <% if (multas.length > 0) { %>
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">nome</th>
                            <th scope="col">causa</th>
                            <th scope="col">valor</th>
                            <th scope="col">total de parcelas</th>
                            <th scope="col">parcelas restantes</th>
                            <th scope="col">status</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% multas.forEach((registro, indice) => { %>
                        <tr>
                            <td><%= registro.nome %></td>
                            <td><%= registro.causa %></td>
                            <td><%= registro.valor %></td>
                            <td><%= registro.parcelas %></td>
                            <td><%= registro.restantes %> <a href="/atualizarmulta/<%= registro.cod %>" rel="noopener" style="margin-left: 1.5rem;" class="btn btn-sm btn-success"> &dArr;</a></td>
                            <td><%= registro.status %></td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            <% } else { %>
                <p class="text-center">Nenhum registro encontrado.</p>
            <% } %>
        </div>
    </div>
</body>
</html>